.content-lista{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "section aside ";
    grid-template-rows:  70vh 5vh;
    grid-column-gap: 8px;
    
}

.lista-section{
    grid-area:section;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    border: 1.5px solid #ccc;
}

.lista-aside{
    grid-area:aside;
    background: whitesmoke;
    display: grid;
    justify-content: center;
    border: 1.5px solid #ccc;
}

.lista-final{
    grid-area:final;
    background: whitesmoke;
    display: grid;
    justify-content: center;
}