.container-solicitacao{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'form aside';
    grid-template-rows: 70.55vh;
}

.formGroup{
    display: grid;
    grid-area:form;
    width: 80%;
    margin-left: 10%;


}

.formAside{
    grid-area:aside;
    margin-left: 2%;
    border: 1px solid #ccc;
}